.overflow-scroll {
    overflow: auto !important;
}

.graph-btn{
    position: absolute;
    top: 16px;
    right: 16px;
}

.overlay {
    background-color: rgba(114, 114, 114, 0.8);
}

.chip-large {
    color: #FFFFFF;
    margin-top: 16px;
    height: 72px;
    line-height: 72px;
    border-radius: 36px;
    width: 100%;
    text-align: center;
}

.chip-large img {
    box-sizing: border-box;
    border: 2px solid #4caf50;
    height: 72px;
    width: 72px;
}

.rank-list span {
    display: block;
}

/*.border-right {
    height: 16px;
    border-right: 4px solid #4caf50;
}*/

/* Graph */
.node circle {
  fill: #fff;
  stroke: #673ab7;
  stroke-width: 3px;
}

.current-node circle{
  fill: #fff;
  stroke: #4caf50;
  stroke-width: 6px;
}

.node {
  font: 16px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

